In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
book = pd.read_csv('Books.csv',encoding='')
rating = pd.read_csv('Ratings.csv')
user = pd.read_csv('Users.csv')

C:\Users\cooln\AppData\Local\Temp\ipykernel_8372\2018121816.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('Books.csv')

In [5]:
book.shape

(271360, 8)

In [13]:
book.sample(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
268146,0811720179,Scuba diver's guide to underwater ventures,Judy Gail May,1973,Stackpole Books,http://images.amazon.com/images/P/0811720179.0...,http://images.amazon.com/images/P/0811720179.0...,http://images.amazon.com/images/P/0811720179.0...
187235,043965341X,"Cinderella Story, A : Movie Novelizatoin",Robin Wasserman,2004,Scholastic Paperbacks,http://images.amazon.com/images/P/043965341X.0...,http://images.amazon.com/images/P/043965341X.0...,http://images.amazon.com/images/P/043965341X.0...

In [17]:
book = book.loc[:,['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher','Image-URL-L']]

In [21]:
book.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher','Image-URL-L':'img_url'},inplace=True)

In [25]:
book.sample(2)

,ISBN,title,author,year,publisher,img_url
60196,0679412697,"Mansfield Park (Everyman's Library, No 52)",JANE AUSTEN,1992,Everyman's Library,http://images.amazon.com/images/P/0679412697.0...
139817,0141439726,Bleak House (Penguin Classics),Charles Dickens,2003,Penguin Books,http://images.amazon.com/images/P/0141439726.0...

In [9]:
user.shape

(278858, 3)

In [27]:
user.sample(2)

        User-ID                            Location   Age
45048     45049       hales corners, wisconsin, usa  20.0
252585   252586  sydney, new south wales, australia  18.0

In [35]:
user.rename(columns={"User-ID":"user_id","Location":'location','Age':'age'},inplace=True)

In [39]:
user.sample(2)

        user_id                                    location   age
191344   191345                   segrate, lombardia, italy   NaN
8106       8107  limavady, northern ireland, united kingdom  15.0

In [7]:
rating.shape

(1149780, 3)

In [29]:
rating.sample(2)

        User-ID        ISBN  Book-Rating
961724   232131  0449221393            0
403312    97330  0399501487            0

In [37]:
rating.rename(columns={'User-ID':'user_id',"Book-Rating":'rating'},inplace=True)

In [41]:
rating.sample(2)

        user_id        ISBN  rating
351381    84129  1551114933       8
277303    65208  0618127003       0

In [87]:
x = rating['user_id'].value_counts() > 200

In [103]:
y = x[x].index

In [91]:
x[x].shape

(899,)

In [107]:
rating = rating[rating['user_id'].isin(y)]

In [109]:
rating.shape

(526356, 3)

In [111]:
rating.sample(2)

         user_id        ISBN  rating
1091290   261829  0373075359       0
1024189   245645  0764221000       0

In [117]:
df = rating.merge(book,on="ISBN")

In [119]:
df.head(2)

,user_id,ISBN,rating,title,author,year,publisher,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...

In [121]:
df.shape

(487671, 8)

In [135]:
number_of_rating = df.groupby('title')['rating'].count().reset_index()

In [153]:
number_of_rating.sample(2)

                                                    title  rating
114549                           Terrible Kisses: Stories       1
27819   Creating Web Pages with HTML SimplifiedÂ® 2nd ...       1

In [157]:
number_of_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [177]:
num_of_rating_50 = number_of_rating[number_of_rating['num_of_rating']>=50]

In [179]:
final_df = df.merge(num_of_rating_50,on='title')

In [181]:
final_df.head(5)

,user_id,ISBN,rating,title,author,year,publisher,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
2,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
3,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
4,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [183]:
final_df.shape

(61853, 9)

In [189]:
final_df.drop_duplicates(['user_id','title'],inplace=True)

In [191]:
final_df.shape

(59850, 9)

In [195]:
df_pivot_table = final_df.pivot_table(values='rating',index='title',columns='user_id')

In [201]:
df_pivot_table.fillna(0,inplace=True)

In [205]:
df_pivot_table.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [207]:
from scipy.sparse import csc_matrix

In [209]:
book_sparse = csc_matrix(df_pivot_table)

In [211]:
book_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14961 stored elements in Compressed Sparse Column format>

In [213]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [215]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [243]:
distance, suggestion = model.kneighbors(df_pivot_table.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [245]:
distance, suggestion

(array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
         76.30203143]]),
 array([[237, 238, 240, 241, 184, 536]], dtype=int64))

In [316]:
df_pivot_table.iloc[237,:].name

'Harry Potter and the Chamber of Secrets (Book 2)'

In [249]:
for i in range(len(suggestion)):
    print(df_pivot_table.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [325]:
book_name = df_pivot_table.index

In [330]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_name,open('artifacts/book_name.pkl','wb'))
pickle.dump(final_df,open('artifacts/final_df.pkl','wb'))
pickle.dump(df_pivot_table,open('artifacts/df_pivot_table.pkl','wb'))

In [382]:
def recommend_book(book_name):
    book_id = np.where(df_pivot_table.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(df_pivot_table.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)

    for i in range(len(suggestion)):
        book = df_pivot_table.index[suggestion[i]]
        book = book.drop(book_name)
        for j in book:
            print(j)

In [384]:
recommend_book('Exclusive')

The Cradle Will Fall
Jacob Have I Loved
Fine Things
The Long Road Home
No Safe Place